<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://scontent-gru1-1.xx.fbcdn.net/v/t1.6435-1/169519935_1706002686245871_5824418609243926817_n.jpg?stp=dst-jpg_p200x200&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ZB8kUjt80voAX_-j1ua&_nc_ht=scontent-gru1-1.xx&cb_e2o_trans=t&oh=00_AfCr6O-lnWCWTXtSs_oPUkuum_pefVKOFk5rq92tKWnpWQ&oe=663149D4">
    <br />
    <strong>Davi Herculano</strong>
    <p>Código da Turma: ADS0301M</p>
  </div>
</ion-content>
